@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #1b5f24;
}

/* login */
.box-area{
    width: 930px;
}
.right-box{
    padding: 40px 30px 40px 40px;
}
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}

/* navbar */
.nav-item{
    font-size: 16px;
    font-weight: 600;
}
.btn-login{
    font-size: 14px;
    background: #1b5f24;
    color: #ffff;
}
.btn-login:hover{
    color: #ffff;
}
.title-text{
    font-size: 26px;
    font-weight: 600;
    padding: 20px 0px;
    color: #ffff;
}
.card img{
    padding: 20px;
    width: 250px;
}
.card-title{
    color: #2c2a2a;
}
.sub-text{
    font-size: 40px;
}
.card .card-title{
    font-size: 16px;
    font-weight: 600;
}
.card p{
    font-size: 40px;
    font-weight: 700;
}
/* card dashboard */
@media only screen and (max-width: 425px){
    .card{
        margin: 20px;
    }
    .card img{
        width: 200px;
    } 
    .card .card-title{
        text-align: center;
        font-size: 20px;
    }
    .card p{
        text-align: center;
        font-size: 30px;
    }
}
table{
    font-size: 16px;
}
.text-basic-info{
    font-weight: 700;
    font-size: 16px;
    color: #3a3636;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
